@import "_variables.scss";
* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	scroll-behavior: smooth;
	scrollbar-width: none;
}
::-webkit-scrollbar {
	display: none;
}
body {
	background-color: $color-grey;
	overflow-x: hidden;
	position: relative;
}
