// COLORS
$color-1: #7400b8;
$color-2: #6930c3;
$color-3: #5e60ce;
$color-4: #5390d9;
$color-5: #4ea8de;
$color-6: #48bfe3;
$color-7: #56cfe1;
$color-8: #64dfdf;
$color-9: #72efdd;
$color-10: #80ffdb;
$color-grey: #e7e7e7;
$bluish-grey: #c3ecec;
$black-2: rgba(0, 0, 0, 0.2);
$black-4: rgba(0, 0, 0, 0.4);
$black-6: rgba(0, 0, 0, 0.6);
$white: white;

// SHADOWS
$shadow-av: 0 1.2rem 2.5rem rgba(0, 0, 0, 0.4);
$shadow-light: 0 1rem 2rem rgba(0, 0, 0, 0.3);
$shadow-sticky: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
$shadow-lightest: 0 2rem 5rem rgba(0, 0, 0, 0.25);
$shadow-bevel: 0 -1rem 1.5rem rgba(0, 0, 0, 0.2) inset;
$shadow-concave: -0.4rem -0.7rem 1rem rgba(255, 255, 255, 0.2) inset,
	0.4rem 0.7rem 1rem rgba(0, 0, 0, 0.2) inset;
$shadow-purple-glow: 0rem -0.7rem 1rem -0.25rem rgba($color-3, 0.3),
	0rem 0.7rem 1rem -0.25rem rgba($color-3, 0.3),
	0.7rem 0rem 1rem -0.25rem rgba($color-3, 0.3),
	-0.7rem 0rem 1rem -0.25rem rgba($color-3, 0.3);
$shadow-blue-glow: 0rem -0.9rem 4rem -1rem rgba($color-7, 0.25),
	0rem 0.9rem 4rem -1rem rgba($color-7, 0.25),
	0.9rem 0rem 4rem -1rem rgba($color-7, 0.25),
	-0.9rem 0rem 4rem -1rem rgba($color-7, 0.25);
$shadow-neumorphic: -1rem -1.5rem 2.5rem rgba(255, 255, 255, 0.65),
	1rem 1.5rem 2rem rgba(0, 0, 0, 0.15);
$shadow-neu-small: -0.4rem -0.7rem 1rem rgba(255, 255, 255, 0.7),
	0.4rem 0.7rem 1rem rgba(0, 0, 0, 0.35);
$shadow-neu-inset: -0.4rem -0.7rem 1rem rgba(255, 255, 255, 0.2) inset,
	0.4rem 0.7rem 1rem rgba(0, 0, 0, 0.2) inset;

// GRADIENTS
$gradient-convex: linear-gradient(
	-45deg,
	rgba(0, 0, 0, 0.2),
	rgba(255, 255, 255, 0.2)
);
$gradient-concave: linear-gradient(
	135deg,
	rgba(0, 0, 0, 0.22),
	rgba(255, 255, 255, 0.25)
);
