.title__features {
	transform: translateY(6rem);
	padding: 2rem;
	color: $color-3;
}
.container__features {
	position: relative;
	min-height: 100vh;
	width: 100vw;
}
.illustration {
	position: absolute;
	right: 2rem;
	top: 2rem;
	&__svg {
		height: 25rem;
		width: auto;
	}
}
.boxes {
	display: flex;
	padding: 2rem;
	justify-content: space-between;
	height: auto;
	align-items: stretch;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.box {
	padding: 3rem;
	margin: 6rem;
	border-radius: 12px;
	width: 25rem;
	background-image: linear-gradient(
		135deg,
		rgba(0, 0, 0, 0.1),
		rgba(255, 255, 255, 0.25)
	);
	box-shadow: $shadow-neumorphic;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__icon {
		height: 4rem;
		color: $color-2;
	}
	&__title {
		margin: 2rem 0;
		padding: 1rem;
		font-size: 2.2rem;
		font-weight: 700;
		text-align: center;
		color: $color-3;
	}
	&__desc {
		font-size: 1.7rem;
		color: $color-4;
		text-align: center;
	}
}
.icon-big {
	position: absolute;
	top: 20%;
	z-index: 1;
	left: 0;
	transform: translate(-50%, 50%) scale(8);
	opacity: 0.05;
}
.material-icons.md-18 {
	font-size: 18px;
}
.material-icons.md-24 {
	font-size: 24px;
}
.material-icons.md-36 {
	font-size: 36px;
}
.material-icons.md-48 {
	font-size: 48px;
}
