.section__lander {
	min-height: 100vh;
	z-index: 2;
}

.container {
	background-image: linear-gradient(120deg, $color-6, $color-10);
	clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
	min-height: 100vh;
	height: 100%;
	position: relative;
}

.nav {
	padding: 4rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	&__items {
		align-self: center;
		display: flex;
		align-items: baseline;
		justify-content: center;
		flex: 0.8;
	}
	&__item {
		font-size: 1.6rem;
		color: white;
		border-bottom: 2px solid $white;
		padding: 0.4rem 0.2rem;
		font-size: 1.7rem;
		cursor: pointer;
		margin: 0 5rem;
		transition: 0.3s cubic-bezier(0.17, 0.67, 0.59, 1.76);
		&:hover {
			background-color: $white;
			color: $color-6;
			padding: 0.4rem 1.2rem;
			margin: 0 4rem;
		}
	}
	.right {
		.btn-login {
			cursor: pointer;
			font-size: 2rem;
			font-weight: 400;
			position: relative;
			background-color: $white;
			color: $color-5;
			border-radius: 5rem;
			padding: 1rem 3rem;
			box-shadow: $shadow-light;
			transition: 0.3s ease-in-out;
			&::after {
				content: "";
				display: inline-block;
				height: 100%;
				width: 100%;
				background-color: $white;
				border-radius: 5rem;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				transition: all 0.3s;
			}
			&:hover {
				transform: translate(0, -4px);
				box-shadow: $shadow-lightest;
				&::after {
					transition: all 0.3s;
					content: "";
					transform: scaleX(2) scaleY(1.5);
					opacity: 0;
				}
			}
		}
	}
}

.title {
	font-size: 6.25rem;
	font-weight: 700;
	text-shadow: $shadow-light;
	letter-spacing: 3px;
	text-align: center;
}
.title__lander {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	width: 50%;
	animation: titleFadeUp 1s ease-in;
	animation-delay: 0.3s;
	animation-fill-mode: forwards;
}
