.section__overlay {
	display: none;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	z-index: 20;
	position: fixed;
	top: 0;
	left: 0;
	span.overlay {
		height: 100vh;
		width: 100vw;
		background-color: $black-6;
		position: absolute;
	}
}
.form {
	width: 30vw;
	height: max-content;
	animation: formFadeUp 0.35s cubic-bezier(0.17, 0.67, 0.59, 1.76);
	position: relative;
	margin: 0 auto;
	padding: 5rem;
	padding-bottom: 7rem;
	box-shadow: $shadow-lightest;
	border-radius: 1.5rem;
	background-image: linear-gradient(135deg, $color-9, $color-3);
	&__header {
		font-size: 2.5rem;
		color: $color-2;
		margin: 2rem;
		font-weight: 700;
		text-align: center;
	}
	&__input {
		padding: 1.5rem 2rem;
		width: 100%;
		display: inline;
		font-family: inherit;
		color: $color-3;
		font-weight: 400;
		font-size: 1.6rem;
		margin: 1.5rem auto;
		border: none;
		border-radius: 5px;
		box-shadow: $shadow-light;
		border-bottom: 4px solid $color-1;
		transition: all 0.2s;
		&:focus {
			outline: none;
			transform: translateX(1rem);
		}
		&::-webkit-input-placeholder {
			font-size: 2rem;
			color: $black-4;
		}
		&:-moz-placeholder {
			font-size: 2rem;
			color: $black-6;
		}
		&::-moz-placeholder {
			font-size: 2rem;
			color: $black-6;
		}
	}
	&__input::placeholder {
		font-size: 1.6rem;
		color: $black-4;
	}
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#show-password {
		color: $black-4;
		cursor: pointer;
		transform: translateY(1rem);
	}
	.btn-form {
		cursor: pointer;
		font-size: 1.6rem;
		background-color: $color-2;
		color: $white;
		border: none;
		font-family: inherit;
		font-size: 1.6rem;
		border-radius: 30px;
		padding: 1.5rem 2.5rem;
		box-shadow: $shadow-light, $shadow-bevel;
		margin-right: 2rem;
		margin-top: 2rem;
		transition: 0.2s ease-in-out;
		&:hover {
			transform: translate(0, -4px);
			box-shadow: $shadow-sticky, $shadow-bevel;
		}
	}
}
.close-button {
	padding: 2rem 2.5rem;
	border-radius: 50%;
	background-color: $white;
	font-size: 2rem;
	font-weight: 700;
	cursor: pointer;
	color: $color-1;
	box-shadow: $shadow-light;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
}
