* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #e7e7e7;
}

.title__features {
  -webkit-transform: rotate(-7deg) translateY(10rem);
          transform: rotate(-7deg) translateY(10rem);
  font-size: 7rem;
  padding: 2rem;
  color: #5e60ce;
}

.container__features {
  position: relative;
  min-height: 90vh;
  width: 100vw;
}

.illustration {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.illustration__svg {
  height: 30rem;
  width: auto;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box {
  padding: 5rem;
  opacity: 0.65;
  margin: 6rem;
  -webkit-transform: rotate(7deg) skewX(-10deg);
          transform: rotate(7deg) skewX(-10deg);
  -webkit-box-shadow: 0 1.2rem 2.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.2rem 2.5rem rgba(0, 0, 0, 0.4);
  background-color: #80ffdb;
  border-radius: 12px;
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box__icon {
  height: 4rem;
  color: #5390d9;
  margin: 2rem 0;
}

.box__title {
  font-size: 2rem;
  font-weight: 700;
  color: #5390d9;
}

.icon-big {
  position: absolute;
  top: 20%;
  z-index: 1;
  left: 0;
  -webkit-transform: translate(-50%, 50%) scale(8);
          transform: translate(-50%, 50%) scale(8);
  opacity: 0.05;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.section__lander {
  min-height: 100vh;
  z-index: 2;
}

.container {
  background-image: linear-gradient(120deg, #48bfe3, #80ffdb);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.nav {
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__items {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
}

.nav__item {
  font-size: 1.6rem;
  color: white;
  border-bottom: 2px solid white;
  padding: 0.4rem 0.2rem;
  cursor: pointer;
  margin: 0 4rem;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.nav__item:hover {
  background-color: white;
  color: #48bfe3;
}

.nav .right .btn-login {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  background-color: white;
  color: #4ea8de;
  border-radius: 30px;
  padding: 1rem 2.5rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.nav .right .btn-login:hover {
  -webkit-transform: translate(0, -4px);
          transform: translate(0, -4px);
  -webkit-box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 0 1.2rem 2.5rem rgba(0, 0, 0, 0.4);
  letter-spacing: 3px;
  text-align: center;
}

.title__lander {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  width: 40%;
}

.title__features {
  -webkit-transform: rotate(-7deg) translateY(10rem);
          transform: rotate(-7deg) translateY(10rem);
  font-size: 7rem;
  padding: 2rem;
  color: #5e60ce;
}

.container__features {
  position: relative;
  min-height: 90vh;
  width: 100vw;
}

.illustration {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.illustration__svg {
  height: 30rem;
  width: auto;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box {
  padding: 5rem;
  opacity: 0.65;
  margin: 6rem;
  -webkit-transform: rotate(7deg) skewX(-10deg);
          transform: rotate(7deg) skewX(-10deg);
  -webkit-box-shadow: 0 1.2rem 2.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.2rem 2.5rem rgba(0, 0, 0, 0.4);
  background-color: #80ffdb;
  border-radius: 12px;
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box__icon {
  height: 4rem;
  color: #5390d9;
  margin: 2rem 0;
}

.box__title {
  font-size: 2rem;
  font-weight: 700;
  color: #5390d9;
}

.icon-big {
  position: absolute;
  top: 20%;
  z-index: 1;
  left: 0;
  -webkit-transform: translate(-50%, 50%) scale(8);
          transform: translate(-50%, 50%) scale(8);
  opacity: 0.05;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.container__map {
  padding: 10rem;
  min-height: 100vh;
  background-image: url("../images/wave-bg.svg");
  z-index: 3;
  position: relative;
}

.title__map {
  margin-top: 8rem;
  color: #5e60ce;
}

#mapid {
  height: 40rem;
  border-radius: 10px;
  border: 1rem solid white;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
  margin-top: 7rem;
}
/*# sourceMappingURL=main.css.map */