@import url(f:\BMS-ui\BMS-ui-web\node_modules\material-design-icons\iconfont\material-icons.css);
@import url(f:\BMS-ui\BMS-ui-web\node_modules\leaflet\dist\leaflet.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #e7e7e7;
  overflow-x: hidden;
  position: relative;
}

@-webkit-keyframes formFadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes formFadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.title__features {
  -webkit-transform: rotate(-7deg) translateY(6rem);
          transform: rotate(-7deg) translateY(6rem);
  padding: 2rem;
  color: #5e60ce;
}

.container__features {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

.illustration {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.illustration__svg {
  height: 25rem;
  width: auto;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box {
  padding: 3rem;
  margin: 6rem;
  border-radius: 12px;
  width: 25rem;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.25));
  -webkit-box-shadow: -1rem -1.5rem 2.5rem rgba(255, 255, 255, 0.65), 1rem 1.5rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: -1rem -1.5rem 2.5rem rgba(255, 255, 255, 0.65), 1rem 1.5rem 2rem rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__icon {
  height: 4rem;
  color: #6930c3;
}

.box__title {
  margin: 2rem 0;
  padding: 1rem;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  color: #5e60ce;
}

.box__desc {
  font-size: 1.7rem;
  color: #5390d9;
  text-align: center;
}

.icon-big {
  position: absolute;
  top: 20%;
  z-index: 1;
  left: 0;
  -webkit-transform: translate(-50%, 50%) scale(8);
          transform: translate(-50%, 50%) scale(8);
  opacity: 0.05;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.section__lander {
  min-height: 100vh;
  z-index: 2;
}

.container {
  background-image: linear-gradient(120deg, #48bfe3, #80ffdb);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  min-height: 100vh;
  height: 100%;
  position: relative;
}

.nav {
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__items {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
}

.nav__item {
  font-size: 1.6rem;
  color: white;
  border-bottom: 2px solid white;
  padding: 0.4rem 0.2rem;
  cursor: pointer;
  margin: 0 5rem;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.nav__item:hover {
  background-color: white;
  color: #48bfe3;
}

.nav .right .btn-login {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  background-color: white;
  color: #4ea8de;
  border-radius: 30px;
  padding: 1rem 2.5rem;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.nav .right .btn-login:hover {
  -webkit-transform: translate(0, -4px);
          transform: translate(0, -4px);
  -webkit-box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
  text-align: center;
}

.title__lander {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  width: 50%;
}

.title__features {
  -webkit-transform: rotate(-7deg) translateY(6rem);
          transform: rotate(-7deg) translateY(6rem);
  padding: 2rem;
  color: #5e60ce;
}

.container__features {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

.illustration {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.illustration__svg {
  height: 25rem;
  width: auto;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box {
  padding: 3rem;
  margin: 6rem;
  border-radius: 12px;
  width: 25rem;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.25));
  -webkit-box-shadow: -1rem -1.5rem 2.5rem rgba(255, 255, 255, 0.65), 1rem 1.5rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: -1rem -1.5rem 2.5rem rgba(255, 255, 255, 0.65), 1rem 1.5rem 2rem rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__icon {
  height: 4rem;
  color: #6930c3;
}

.box__title {
  margin: 2rem 0;
  padding: 1rem;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  color: #5e60ce;
}

.box__desc {
  font-size: 1.7rem;
  color: #5390d9;
  text-align: center;
}

.icon-big {
  position: absolute;
  top: 20%;
  z-index: 1;
  left: 0;
  -webkit-transform: translate(-50%, 50%) scale(8);
          transform: translate(-50%, 50%) scale(8);
  opacity: 0.05;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.container__map {
  padding: 10rem;
  min-height: 1259px;
  background-image: url("../images/wave-bg.svg");
  background-position-x: center;
  z-index: 3;
  position: relative;
}

.title__map {
  margin-top: 8rem;
  color: #5e60ce;
}

#mapid {
  height: 70rem;
  border-radius: 10px;
  border: 1rem solid white;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
  margin-top: 7rem;
}

.section__chart {
  min-height: 110vh;
  margin-top: -20rem;
  background-image: linear-gradient(135deg, #4ea8de, #5e60ce);
  margin-bottom: -15rem;
}

.container__chart {
  padding: 25rem 0;
  position: relative;
}

.container__chart .icon-big {
  top: 20%;
}

.title__chart {
  color: white;
}

canvas.chart {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 5rem;
  margin: 10rem 15rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.chart__time {
  text-align: right;
  margin: 2rem 15rem;
  color: white;
  font-size: 2rem;
}

.chart__time span {
  font-weight: 700;
}

.section__overlay {
  display: none;
  height: 100vh;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
}

.section__overlay span.overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}

.form {
  width: 35vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-animation: formFadeUp 0.35s cubic-bezier(0.17, 0.67, 0.59, 1.76);
          animation: formFadeUp 0.35s cubic-bezier(0.17, 0.67, 0.59, 1.76);
  position: relative;
  margin: 0 auto;
  padding: 5rem;
  padding-bottom: 7rem;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  background-image: linear-gradient(135deg, #72efdd, #5e60ce);
}

.form__header {
  font-size: 2.5rem;
  color: #6930c3;
  margin: 2rem;
  font-weight: 700;
  text-align: center;
}

.form__input {
  padding: 1.5rem 2rem;
  font-family: inherit;
  width: 100%;
  color: #5e60ce;
  font-weight: 400;
  font-size: 1.6rem;
  margin: 1.5rem auto;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-bottom: 4px solid #7400b8;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.form__input::-webkit-input-placeholder {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.4);
}

.form__input:-ms-input-placeholder {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.4);
}

.form__input::-ms-input-placeholder {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.4);
}

.form__input::placeholder {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.4);
}

.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form #show-password {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.form .btn-form {
  cursor: pointer;
  font-size: 1.6rem;
  background-color: #6930c3;
  color: white;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: 30px;
  padding: 1.5rem 2.5rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3), 0 -1rem 1.5rem rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3), 0 -1rem 1.5rem rgba(0, 0, 0, 0.2) inset;
  margin-right: 2rem;
  margin-top: 2rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.form .btn-form:hover {
  -webkit-transform: translate(0, -4px);
          transform: translate(0, -4px);
  -webkit-box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.5), 0 -1rem 1.5rem rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.5), 0 -1rem 1.5rem rgba(0, 0, 0, 0.2) inset;
}

.close-button {
  padding: 2rem 2.5rem;
  border-radius: 50%;
  background-color: white;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  color: #7400b8;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.section__footer {
  background-color: #6930c3;
  font-size: 1.6rem;
  color: white;
  padding: 3rem;
}

.footer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 0;
  margin: 0 15rem;
  font-size: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 3px solid white;
}

.footer__link {
  z-index: 3;
  padding: 0.6rem;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  color: white;
  cursor: pointer;
}

.footer__link:hover {
  color: #7400b8;
  background-color: white;
}

.footer__content {
  padding: 4rem 15rem;
  text-align: justify;
  line-height: 2.5rem;
}
/*# sourceMappingURL=main.css.map */